# NOTE: This file is maintained in the Qontigo/devops-gh-actions repo (CODEOWNERS/default) and that copy will overwrite any changes made in any repo using the file
#       If changes are necessary to this file then you will need to raise a PR in that repo and perform appropriate testing with repos which use this file

# DEVOPS-6466 - DEVOPS must review changes to these files/folders
.github/**/core-* @Qontigo/qontigo-devops
.github/CODEOWNERS @Qontigo/qontigo-devops

# DEVOPS-6480 - DEVOPS must review changes to these files
.terraform-docs.yml @Qontigo/qontigo-devops
.tflint.ci.* @Qontigo/qontigo-devops