# This file is maintained in the Qontigo/devops-gh-actions repo and that copy will overwrite any changes made in any repo using the file

# Lints Github action files in well known location - .github
# * Github action YAML files (action.yml)
# * Github workflow YAML files (Except core-* files which are synced from templates)
# * Shell scripts *.sh) for either of the above

name: Lint Github Actions and Workflows
run-name: "${{ github.event_name == 'pull_request' && format('pull/{0} => {1} - {2}', github.event.pull_request.number, github.event.pull_request.base.ref, github.event.pull_request.title) || format('{0} {1} - {2}', github.ref_name, github.event_name, github.event_name == 'workflow_dispatch' && format('run by {0}', github.actor) || github.event.head_commit.message) }}"

on:
  pull_request:
    paths:
      - '.github/**/*.y*ml'
      - '.github/**/*.sh'

jobs:
  run:
    name: .github linting
    uses: Qontigo/devops-gh-actions/.github/workflows/core-lint-github-actions.yml@main
    secrets:
      ghtoken: ${{ secrets.QONTIGO_GH_ACTION_PAT }}
