# This file is maintained in the Qontigo/devops-gh-actions repo and that copy will overwrite any changes made in any repo using the file

# Checks that a branch name meets Qontigo standard naming conventions

name: Branch Name Check
run-name: "${{ github.event_name == 'pull_request' && format('pull/{0} => {1} - {2}', github.event.pull_request.number, github.event.pull_request.base.ref, github.event.pull_request.title) || format('{0} - {1}', github.ref_name, github.event.head_commit.message) }}"

on:
  pull_request:
    types: [assigned, opened, synchronize, reopened]

jobs:
  check_branchname:
    uses: Qontigo/devops-gh-actions/.github/workflows/core-branch-name-check.yml@main
